.container{
    position: sticky;
    top: 40px;
}


.user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.menuItems {
    list-style-type: none; /* Menghapus titik atau ikon bulat */
    padding: 0; /* Menghapus padding default */
    margin: 0; /* Menghapus margin default */
  }
  
.menuItems li {
    margin: 5px 0px;
    border-radius: 10px;
    gap: 10x;
    padding: 10px;
}

.menuItems li:hover {
    background-color: #ececc7;
}   