.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card{
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
}

.texts{
    font-weight: bold;
    color: #475c8b;
    font-size: 20px;
}